<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <h2 class="display-3">About Us</h2>
      <h4>Our Reputation is built on Quality</h4>
      <div class="para-container">
        <p>
          Construction Solutions has over 25 years experience in the
          construction industry working with domestic and commercial clients in
          Central London and the surrounding area.
        </p>
        <p>
          We offer an extensive range of services which include interior
          carpentry design, project management, complete home redesigns,
          renovations and extensions. We focus on the customers best interests
          and satisfaction. With an ever-changing economy, we believe that
          customer relations and financial planning are of utmost importance.
        </p>
        <p>
          Our reputation is built on the highest level of quality and our
          commitment to provide industry leading building services to our
          customers.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img
        class="image-box float-end"
        src="../../../assets/images/stairsWainscotting.jpg"
        alt="stairs with wall pannelling"
      />
    </div>
  </div>
</div>
