<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <h2 class="display-3">Welcome to Construction Solutions</h2>
      <h4>Our Reputation is built on Quality</h4>
      <div class="para-container">
        <p>
          Construction Solutions has over 25 years experience in the
          construction industry working with domestic and commercial clients in
          Central London and the surrounding area.
        </p>
        <p>
          Construction Solutions was formed in 2017 having previously worked for
          18 years as a senior site carpentry foreman for Cranbrook basements
          who specialize in high end residential properties in Central London
        </p>
        <p>
          We offer an extensive range of services which include interior
          carpentry design, project management, complete home redesigns,
          renovations and extensions
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img
        class="image-box float-end"
        src="../../../assets/images/landingWainscotting.jpg"
        alt="stairs with wall pannelling"
      />
    </div>
  </div>
</div>
