<div class="container py-5">
  <div
    class="row py-3"
    *ngFor="let service of retrievedSkillsArray; let id = index"
  >
    <div class="col-md-6 order-md-2">
      <img
        class="image-box float-end"
        src="{{ service.image }}"
        alt="{{ service.name }}"
      />
    </div>
    <div class="col-md-6 order-md-1">
      <h2 class="display-3">
        {{ service.name }}
      </h2>
      <h4>{{ service.heading }}</h4>
      <div>
        <p>
          {{ service.description }}
        </p>
        <p>
          We offer an extensive range of services which include interior
          carpentry design, project management, complete home redesigns,
          renovations and extensions. We focus on the customers best interests
          and satisfaction. With an ever-changing economy, we believe that
          customer relations and financial planning are of utmost importance.
        </p>
        <div class="button-container">
          <button class="btn" (click)="toSingleService(service.name, id)">
            {{ service.name }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
