.container-fluid {
  background-color: var(--secondary-color);

  color: var(--white-text);
}

h4 {
  text-align: center;
}

ul.company-info {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-text);
}

a:hover {
  text-decoration: underline;
}

.company-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
