<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="display-6">Construction Solutions</h3>
        <p>
          We have completed a wide range of projects. Our works include
          residential and commercial projects undertaken in central London and
          surrounding areas.
        </p>
        <div class="button-container">
          <button class="btn" (click)="toGallery()">Gallery</button>
        </div>
      </div>
    </div>
  </div>
</div>
