/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: hsl(191, 54%, 48%);
  --secondary-color: hsl(195, 54%, 27%);
  --white-text: hsl(0, 0%, 100%);
}

.image-box {
  width: 80%;
  display: block;
  object-fit: cover;
  max-height: 400px;
}

@media screen and (max-width: 771px) {
  .image-box {
    width: 100%;
  }
}

.para-container {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: var(--main-color);
  padding: 0.75em 1.5em;
  border-radius: 1.5em;
  font-weight: bold;
  color: var(--white-text);
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--white-text);
}
