<div class="container py-4">
  <div class="row">
    <div class="col-md-6">
      <h4 class="display-5">Numbers Speak For Themselves</h4>
    </div>
    <div class="col-md-2">
      <p class="numbers">40+</p>
      <p>Satisfied Clients</p>
    </div>
    <div class="col-md-2">
      <p class="numbers">25+</p>
      <p>Years of Experience</p>
    </div>
    <div class="col-md-2">
      <p class="numbers">100+</p>
      <p>Completed Projects</p>
    </div>
  </div>
  <div class="row py-4">
    <div class="col">
      <p class="bold">
        Construction Solutions is involved in both commercial and residential
        projects and takes pride in delivering a high level of finish in
        completed workmanship.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
        Construction Solutions is currently fitting out 27 apartments and 2
        public reception rooms at Beaumont Rise Islington.
      </p>
      <p>
        The scope of works on this project are fitting all joinery works
        including Strip Oak flooring, Bespoke Shelving in all apartments and all
        other joinery works including skirting, architrave and doors
      </p>
      <p>
        The scheme has been designed to a high standard with visually attractive
        high quality interior finishes required.
      </p>
    </div>
    <div class="col-md-4">
      <p>
        Construction Solutions has recently finished a lovely project in Oxford,
        This project involved the creation of 2 bespoke cupboard units with
        bookshelves.
      </p>
      <p>
        Also included in this project was the installation of a dado rail and
        wainscoting to the ground floor hall leading up stairs to the first
        floor hallway.
      </p>
    </div>
    <div class="col-md-4">
      <p class="bold">
        We are flexible and adaptive to any of our customers requests before,
        during and after works have commenced.
      </p>
    </div>
  </div>
</div>
